:root {
  --color-background: #f0ead2;
  --color-background-hover: #f5f5f5;
  
  --color-text: #000000;
  --color-text-secondary: #333333;
  
  --color-border: #000000;
  --color-border-light: #e0e0e0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    "JetBrains Mono",
    monospace;
  font-optical-sizing: auto;
  font-weight: 500;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
